<h1>Submit Log</h1>

Please submit your data log in the area below:
<br>
<br>
<%= form_for @data_log do |f| %>
    <%= f.label :log %><br>
    <%= f.text_area :log %><br>

    <%= f.submit %>
<% end %>
